
.container{
    
    display: flex;
    border: 1px solid black;
    justify-content: space-between; /* Espaça as tabelas igualmente */
    background-color: rgba(226, 223, 223, 0.815);
   

    
    
}

.tabela {
    display: inline-block; /* Permite que as tabelas fiquem lado a lado */
    margin: 0px; /* Espaçamento entre as tabelas */
    border: 1px solid #000; /* Borda externa da tabela */
    border-collapse: collapse; /* Colapsa as bordas internas */
    width: 100%;
    

}

.td-data {
    width: 10px;  
    padding: 20px;   
  }

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    width: 60%;
}
th {
    background-color: black;
    color: white;
    
}

h3{
    text-align: center;
    background-color: #674e9e;
    color: white;
}
h1 {
    text-align: center;
}

.lado-banco, .lado-software {
    width: 50%;
}

